           
            body {color:red;font-family:arial,helvetica;background-image:url(../ponder-prove/images/garden.jpg); background-repeat:repeat-x;background-attachment: fixed;background-position: center top;}
            header {line-height:50%;border:solid red;width:50%;}
            
            nav {color:#00FF00; background-color:rgba(247,209,210,.5);text-indent:50px;border:dashed thick green;}
            nav ol {background-color:fuchsia;border:dashed thick red;}
            nav ol li {border:solid thick purple;}
            nav ul li {display:list-item;list-style-position:inside;list-style-type: georgian;}
            nav ol#rocks li{list-style-type:lower-roman;}
            div#left-col{border-left-style:dotted;border-right-style: dotted;width:10%;padding-right:150px;}
            main{border:solid blue;}
            main strong{color:purple;font-size:36px;margin-left:50px;}
            main img {height:150px; width:125px;}
            aside.introduction{font-size:8px;color:#00FF00;margin:24px;} /*green*/
            footer {color:rgb(0%,100%,0%);} /*black*/
            footer ul {text-shadow:3px 3px 1px #777777;border-style:double;border-top-color: yellow;border-bottom-width:10px; }
            footer ul li {display:inline; }
            h1 {color:green;text-align:center;font-family:cursive,arial;font-size:x-large;font-style:italic;font-variant:small-caps;font-weight: bold;}
            h1.dropcap::first-letter {font-weight: bold; font-size: 3em; color:yellow;}
            h2{color:green;font-family:sans-serif;font-size:10px;text-align:center;}
            h4{color: green;}
            table{color:green;width:50%;margin-left:auto;margin-right:auto;border:solid blue 5px;border-radius: 4em 4em 4em 6em/4em 6em 8em 2em;transition-property: width;transition-duration: 2s;}
            table:hover{width:75%;}
            th{letter-spacing:-.25em;}
            caption{font-size:1.5em;}
            td {text-decoration: line-through;}
            dd {word-spacing:1.5em;}
            a:hover {font-weight:bold; color:green;}

            span.docintro{color:rgb(0,0,255);} /*blue*/           
            .dropcap::first-letter{color:purple;font-size:600%;}   
            .sitebranding{font-size:6px; background-color:aqua}               
            .firstsentence{font-weight:bold;}
            .fs2em {font-size:2em;}
            .fs2ex {font-size:2ex;}
            .fs24px {font-size:24px;}
            .fs120prcnt {font-size:120%;}
            .fs24pt {font-size:24pt;}
            .fsin {font-size:.5in;}			

            a:link{color:#FF0000}            
            a:visited {color:rgb(0%,100%,0%)}
            a:hover {background-color:pink}
            
            <link href="../css/w8-css.css" rel="stylesheet" type="text/css" >
           
